@keyframes rotatePeach{
   from{
    transform: rotate(360deg);
   }

}
@keyframes opacityNone{
    0% {
        opacity: 1;
        transform: translateY(0px);
      }
      20% {
        opacity: 0.8;
        transform: translateY(-20px);
      }
      40% {
        opacity: 0.60;
        transform: translateY(-40px);
      }
      60% {
        opacity: 0.40;
        transform: translateY(-60px);
      }
      80% {
        opacity: 0.20;
        transform: translateY(-80px);
      }
      100% {
        opacity: 0;
        transform: translateY(-100px);
      }
}
@keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-4px, 4px);
    }
    40% {
      transform: translate(-4px, -4px);
    }
    60% {
      transform: translate(4px, 4px);
    }
    80% {
      transform: translate(4px, -4px);
    }
    100% {
      transform: translate(0);
    }
  }
@keyframes peach-scale{
    12%{
        transform: scale(1.05);
    }
    25%{
        transform: scale(1.10);
    }
    37%{
        transform: scale(1.15);

    }
    50%{
        transform: scale(1.20);
    }
    62%{
        transform: scale(1.15);

    }
    75%{
        transform: scale(1.10);
    }
    82%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes onset{
    0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}
body{
    font-family: 'AristaPro';
    background-image: url(/img/background/back-main.png);
    background-size: cover;
}
.header{
    width: 100%;
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0px;
    &__money{
        display: flex;
        height: 2em;
        border: 2px solid ;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%);
        backface-visibility: 75%;

        .money__title{
            font-size: 25px;
            justify-content: center;
            align-items: center;
        }
        .money__svg{
            width: 25px;
            height: 25px;
        }
    }
}
main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    .clicker-menu{
        display: flex;
        width: 50%;
        flex-direction: column;
        margin-bottom: 10px;
        &__peach{
            margin:auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .fly-numbers{
                font-size: 25px;
                position: absolute;
                animation: opacityNone 1s linear;
                pointer-events: none;
            }
            img{
                animation-name: rotatePeach;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                pointer-events: none;
            }
        }
        &__progress-bar{
            width: 90%;
            height: 60px;
            margin: 0 auto;
            border-radius: 25px;
            border: 4px solid rgb(252, 226, 226);
            overflow: hidden;
            display: none;
            animation: onset 1s linear;            

            .progress-bar__fill{
                width: 0%;
                height: 100%;
                background: linear-gradient(to right, rgb(233, 73, 5), rgb(254, 204, 1));
                border-radius: 25px;
                transition: width 0.2s linear;
            }
            .progress-bar__coef{
                font-size: 3em;
                display: flex;
                justify-content: end;
                margin-right: 10px;
                margin-top: 5px;

            }
        }
        .clicker-menu__peach img{
            width:25vw;
            height: 25vh;
            display: flex;
            margin: auto;
        }
    }
    .upgrade-menu{
        display: flex;
        height: 100%;
        flex-direction: column;
        width: 50%;
        .categories{
            display: flex;
            flex-direction: row;
            height: 100px;
            width: 100%;
            &__part{
                height: 100px;
                width: 100%;
                display: flex;
                padding: 10px 0px 5px 0px;
                border: 2px solid rgb(82, 82, 82);
                img{
                    height: 85px;
                    width: 85px; 
                    margin: 0 auto;
                }
                
            }
        }
        .boosts{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            width: 100%;
            max-height:100%;
            &__chunk{
                display: flex;
                width: 100%;
                min-height: 13vw;
                border: 3px solid black;
                flex-direction: row;
                background-color: white;
                &__price{
                    width: 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 20px 0px;
                    &__info{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-top: 25px;
                        .price__title{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            flex-direction: row;
                            text-align: center;

                            justify-content: space-around;

                            .price__wrapper{
                                display: flex;
                                flex-direction: row;
                                h1{
                                    display: flex;
                                    font-size: 40px;
                                    font-weight: 900;
                                    text-align: center;
                                    justify-content: center;
                                }
                                svg{
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                            h1{
                                font-size: 40px;
                                font-weight: 900;
                   
                            }
                          
                        }
                        .price__description{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            padding-top: 25px;
                            p{
                                display: flex;
                                justify-content: center;
                                text-align: center;
                                font-size: 15px;
                            }
                        }
                    }
                    &__button{
                        width: 20%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .button-achiev{
                            width: 75px;
                            height: 75px;
                            border-radius: 15px;
                        }
                    
                        .button-achiev:hover{
                            transition: 0.5s linear;
                            background-color: #c00303;
                        }
                        img{
                            width: 50px;
                            height: 50px;
                            display: flex;
                            margin: 0 auto;
                        }
                    }
                  
                }
               
               

                &__logo{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    width: 30%;
                    background-color: white;

                    .logo__svg{
                        width: 150px;
                        height: 80%;
                        margin: 0 auto;
                        background-color: bisque;
                        border-radius: 50px;
                        border: 2px solid white;
                        img{
                            display: block;
                            width: 80%;
                            height:100%;
                            margin: 0 auto;

                        }
                    }
                }
               
            }
        }
    }
    
}