@keyframes rotatePeach{
   from{
    transform: rotate(360deg);
   }

}
.header{
    width: 100%;
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0px;
    &__money{
        display: flex;

        .money__title{
            font-size: 25px;
        }
        .money__svg{
            width: 25px;
            height: 25px;
            fill: aqua;
        }
    }
}
main{
    width: 100%;
    height: 90vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    .clicker-menu{
        display: flex;
        flex-grow: 1;
        &__peach{
            width: 100%;
            background-color: green;
            margin:auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }
        .clicker-menu__peach img{
            width:25vw;
            height: 25vh;
            display: flex;
            margin: auto;
            animation-name: rotatePeach;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

        }
    }
    .upgrade-menu{
        display: flex;
        height: 100%;
        flex-direction: column;
        width: 50%;
        .categories{
            display: flex;
            flex-direction: row;
            height: 100px;
            width: 100%;
            &__part{
                height: 100px;
                width: 100%;
                display: flex;
                padding: 10px 0px 5px 0px;
                svg{
                    height: 75px;
                    width: 75px;
                    fill: green($color: #c00303);   
                    margin: 0 auto;
                }
                
            }
        }
        .boosts{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            width: 100%;
            max-height:100%;
            background-color: aqua;
            &__chunk{
                display: flex;
                background-color: rgb(149, 93, 93);
                width: 100%;
                min-height: 13vw;
                border: 3px solid black;
                flex-direction: row;
                box-sizing: border-box;
      
                
                &__price{
                    width: 60%;
                    height: 100%;
                    background-color: rgb(80, 217, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px 0px;
                    .price__wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .price-title{
                            font-size: 50px;
                        }
                        .price-svg{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
                &__button{
                    width: 200px;
                    height: 50px;
                    font-size: 25px;
                    border-radius: 5px;
                    background-color: bisque;
                    transition:  background-color 0.5s ease-in-out;
                   &:hover{
                    background-color: #c00303;
                   }
                }
               

                &__logo{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 40%;
                    background-color: red;

                    .logo__title{
                        font-size: 30px;
                        font-weight: 900;
                        text-align: center;
                        justify-content: center;
                    }
                    .logo__svg{
                        width: 160px;
                        height: 70%;
                        margin: 0 auto;
                        svg{
                            width: 150px;
                            height:100%;
                            margin: 0 auto;
                        }
                    }
                }
               
            }
        }
    }
    
}