@keyframes rotatePeach {
  from {
    transform: rotate(360deg);
  }
}
.header {
  width: 100%;
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0px;
}
.header__money {
  display: flex;
}
.header__money .money__title {
  font-size: 25px;
}
.header__money .money__svg {
  width: 25px;
  height: 25px;
  fill: aqua;
}

main {
  width: 100%;
  height: 90vh;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
main .clicker-menu {
  display: flex;
  flex-grow: 1;
}
main .clicker-menu__peach {
  width: 100%;
  background-color: green;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
main .clicker-menu .clicker-menu__peach img {
  width: 25vw;
  height: 25vh;
  display: flex;
  margin: auto;
  animation-name: rotatePeach;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
main .upgrade-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 50%;
}
main .upgrade-menu .categories {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}
main .upgrade-menu .categories__part {
  height: 100px;
  width: 100%;
  display: flex;
  padding: 10px 0px 5px 0px;
}
main .upgrade-menu .categories__part svg {
  height: 75px;
  width: 75px;
  fill: 3;
  margin: 0 auto;
}
main .upgrade-menu .boosts {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  max-height: 100%;
  background-color: aqua;
}
main .upgrade-menu .boosts__chunk {
  display: flex;
  background-color: rgb(149, 93, 93);
  width: 100%;
  min-height: 13vw;
  border: 3px solid black;
  flex-direction: row;
  box-sizing: border-box;
}
main .upgrade-menu .boosts__chunk__price {
  width: 60%;
  height: 100%;
  background-color: rgb(80, 217, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px 0px;
}
main .upgrade-menu .boosts__chunk__price .price__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .upgrade-menu .boosts__chunk__price .price__wrapper .price-title {
  font-size: 50px;
}
main .upgrade-menu .boosts__chunk__price .price__wrapper .price-svg {
  width: 50px;
  height: 50px;
}
main .upgrade-menu .boosts__chunk__button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px;
  background-color: bisque;
  transition: background-color 0.5s ease-in-out;
}
main .upgrade-menu .boosts__chunk__button:hover {
  background-color: #c00303;
}
main .upgrade-menu .boosts__chunk__logo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  background-color: red;
}
main .upgrade-menu .boosts__chunk__logo .logo__title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  justify-content: center;
}
main .upgrade-menu .boosts__chunk__logo .logo__svg {
  width: 160px;
  height: 70%;
  margin: 0 auto;
}
main .upgrade-menu .boosts__chunk__logo .logo__svg svg {
  width: 150px;
  height: 100%;
  margin: 0 auto;
}